body {
    padding: 60px;
}

p {
    margin: 0;
    cursor: pointer;
}

.blockquote > p {
    display: flex;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin-top: 2rem;
}